  <%= form_for @user do |form| %>
  <p>
      <%= form.label :username, "Username:" %>
      <%= form.text_field :username, :value => @user.username %><br><br>
  </p>
  <p>
      <%= form.label :password, "Password:" %>
      <%= form.password_field :password, :value => @user.password %><br><br>
  </p>
  <p>
      <%= form.label :email, "Email:" %>
      <%= form.text_field :email, :value => @user.email %><br><br>
  </p>
  <p>
      <%= form.submit "Submit" %>
  </p>
  <p>
      <%= link_to "All Users", root_path %><br />
  </p>
  <% end %>