<h1>New User</h1>

<%= form_with model: @user do |form| %>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<div>
    <%= form.label :Username %><br>
    <%= form.text_field :username %>
</div>

<div>
    <%= form.label :Password %><br>
    <%= form.password_field :password %><br>
</div>

<div>
    <%= form.label :Email %><br>
    <%= form.email_field :email %><br>
</div>

<div>
    <br>
    <%= form.submit %>
</div>
<% end %>
<br />